.container {
    position: fixed;
    z-index: 1000;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden !important;
    display: none;
}

.content {
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 15px 10px;
}

.content>div {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

.content span,
.content a {
    text-decoration: none;
    background-color: #fff;
    color: #000;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px;
    border-radius: 5px;
    cursor: pointer;
}
