.lnANDdp {
    text-align: center;
    color: #222222;
    line-height: 26px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
    padding: 10px;
}

.heading {
    font-size: 250%;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #ed1c24;
    line-height: 1.25em;
}


.lnANDdp>div {
    margin: 30px auto;
}

.lnANDdp>div>h3 {
    margin: 10px auto;
}

.lnANDdp>div>h2 {
    margin: 20px auto !important;
    font-size: 24px;
    line-height: normal;
}

.lnANDdp>div ul {
    list-style-type: none !important;
}

.backToHome{
    width: 35px;
    color: #ed1c24;
    position: fixed;
    bottom: 15px;
    left: 15px;
}

/* 1025px For Large screens or Desktops */
@media screen and (min-width: 1025px) {
    .heading {
        font-size: 400%;
    }
}